.feature-img {
  background: url("http://placehold.it/920x360") no-repeat center;
  background-position: center;
  background-size: cover;
  height: 22.5rem;
  max-width: 57.5rem;
  padding-top: 0;
  margin: 0 auto;
}
