/* color scheme, lightest to darkest:
TODO: sass!
#e1e6fa
#c4d7ed
#abc8e2
#375d81
#183152
*/

/*reset values */
ul, h1, h2, h3 {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/*actual base styles */
/* TODO: add background that's more interesting than solid fff. gradient perhaps */
html {
  font-size: 100%;
  font-family: 'Fira Sans', sans-serif;
  background: #ffffff;
  color: #222222;
  line-height: 1.5;
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0 0.125rem;
  padding: 0 0.25rem;
  background-color: #e1e6fa;
  min-height: 100%;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}
h1 {
  display: inline-block;
  padding-top: 0.4rem;
  margin-left: 1rem;
}
img {
  max-width: 100%;
}
a {
  color: #183152;
  text-decoration: none;
}
a:hover {
  color: #183152;
  text-decoration: underline;
}
a:visited {
  color: #375d81;
}
header {
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
main {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  font-size:1.25rem;
  line-height:1.5;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 2rem;
  background: #183152;
  color: #fff;
  width: calc(100% - 2rem);
  padding: 1rem;
}
