.linebreak {
  width: 33%;
  border-top: 1px solid #abc8e2;
  margin: 0 auto 1rem auto;
  padding: 1rem 0 0 0;
}
section h2, select {
  margin-bottom: 1rem;
}
.icon-list li {
  display: inline-block;
  font-size: 1rem;
  width: 21%;
}
.icon-list a {
  color: #ffffff;
}
