.linebreak {
  width: 33%;
  border-top: 1px solid #abc8e2;
  margin: 0 auto 1rem auto;
  padding: 1rem 0 0 0;
}
section h2, select {
  margin-bottom: 1rem;
}
.icon-list li {
  display: inline-block;
  font-size: 1rem;
  line-height: 2.5rem;
  width: 21%;
}
.icon-list a, footer .social-list a {
  color: #ffffff;
}
footer ul {
  float: right;
  margin-left: 1rem;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
}
