.icon-list, .social-list {
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.social-list li {
  display: inline-block;
  padding-right: 0.5rem;
}
.social-list li:last-child {
  padding: 0;
}
.template {
  display: none;
}
.byline {
 font-style: italic;
}
.article-body:last-of-type {
  padding-bottom: 2rem;
}
.feature-img {
  background: url("http://placehold.it/920x360") no-repeat center;
  background-position: center;
  background-size: cover;
  height: 22.5rem;
  max-width: 57.5rem;
  padding-top: 0;
  margin: 0 auto;
}
