.icon-list, .social-list {
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.social-list li {
  display: inline-block;
  padding-right: 0.5rem;
}
.social-list li:last-child {
  padding: 0;
}
.template {
  display: none;
}
.byline {
 font-style: italic;
}
.article-body:last-of-type {
  padding-bottom: 2rem;
}
