.icon-list, .social-list {
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.social-list li {
  display: inline-block;
  padding-right: 0.5rem;
}
.social-list li:last-child {
  padding: 0;
}
.template {
  display: none;
}
.byline {
 font-style: italic;
}
.article-body:last-of-type {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  body {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  h1, .icon-list {
    margin-top: 0;
    line-height: 3rem;
  }
  h1 {
    padding: 1rem;
  }
  nav {
    position: static;
    float: right;
    display: inline-block;
    width: auto;
    background: transparent;
  }
  .icon-list a {
    color: #183152;
  }
  .icon-list li {
    padding: 1rem;
    margin: 0;
    font-size: 1.5rem;
    width: auto;
  }
  article {
    max-width: calc(50% - 1rem);
    float: left;
    padding-right: 1rem;
    display: block;
  }
  article::nth-of-type(even){
    padding-right: 0;
  }
}
