@media screen and (min-width: 768px) {
  body {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  main {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }
  h1, .icon-list {
    margin-top: 0;
    line-height: 3rem;
  }
  h1 {
    padding: 1rem;
  }
  nav {
    position: static;
    float: right;
    display: inline-block;
    width: auto;
    background: transparent;
  }
  footer {
    width: calc(100% - 2rem);
  }
  .icon-list a {
    color: #183152;
  }
  .icon-list li {
    padding: 1rem;
    margin: 0;
    font-size: 1.5rem;
    width: auto;
    color: #183152;
  }
  .nav-menu a {
    margin-left: 0.5rem;
  }
  article {
    max-width: calc(50% - 1rem);
    padding-right: 1rem;
    display: block;
    float: left;
  }
  article:nth-of-type(even){
    padding-right: 0;
    padding-left: 1rem;
  }
  .linebreak {
    display: none;
  }
}

/*active states; should be last in the stack */
.active a {
  color: #e1e6fa;
}
@media screen and (min-width: 768px) {
  .active a {
    color: #000000;
  }
}
